<div class="col-md-4">
<div class="card mb-4 shadow-sm" data-id="<%= highlight.id %>">
<%= image_tag highlight_img(highlight.thumb_image.url, 'thumb') %>
  <div class="card-body">
    <p class="card-text">
        <span><%= link_to highlight.title, highlight_path(highlight) %></span>
        <%= highlight.subtitle %>
    </p>
  </div>
</div>
</div>