<h1>Portfolio Items</h1>

<% @highlights.each do |highlight| %>
    <p><%= highlight.title %></p>
    <p><%= highlight.subtitle %></p>
    <p><%= highlight.body %></p>
    <%= image_tag highlight.thumb_image unless highlight.thumb_image.nil? %>
<% end %>